.option{
    background-color: #0e492d;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #65e61b;
    font-weight: bold;
}

.wrong {
    background-color: #d42a14;
    opacity: 0.4;
}